<%= form_for(@integrante) do |f| %>
  <% if @integrante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@integrante.errors.count, "error") %> prohibited this integrante from being saved:</h2>

      <ul>
      <% @integrante.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :grupo_id %>:  
    <%= f.label Grupo.find(@integrante.grupo_id).name %>
  </div>
  <div class="field">
    <%= f.label :membros %> ex: id1//id2//id3...<br>
    <%= f.text_field :membros %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>