= form_for(@integrante) do |f|
  - if @integrante.errors.any?
    #error_explanation
      %h2
        = pluralize(@integrante.errors.count, "error")
        prohibited this integrante from being saved:
      %ul
        - @integrante.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :grupo_id
    \:
    \#{f.label Grupo.find(@integrante.grupo_id).name}
  .field
    = f.label :membros
    ex: id1//id2//id3...
    %br/
    = f.text_field :membros
  .actions
    = f.submit
