<p id="notice"><%= notice %></p>

<p>
  <strong>Membros:</strong>
  <%= @integrante.membros %>
</p>

<p>
  <strong>Grupo:</strong>
  <%= @integrante.grupo_id %>
</p>

<%= link_to 'Edit', edit_integrante_path(@integrante) %> |
<%= link_to 'Back', integrantes_path %>
