= link_to 'Cadastrar novo grupo', new_grupo_path

%br
%br
%table
	%tr
		%td
			%strong Id
		%td
			%strong Nome
		%td
			%strong Lider
	- @grupos.each do |grupo|
		%tr
			%td
				= grupo.id
			%td
				= grupo.name
			%td
				= @pessoas.find(grupo.lider).nome
			%td
				= link_to "Editar", edit_grupo_path(grupo) # %td #= link_to 'remover', grupo, method: :delete, data: { confirm: 'tem certeza?' }